<!DOCTYPE html>

{% extends "../navbar.html" %}
{% block body_block %}
  <div class="col-lg-8">
    <hr>
      <p class="title">Furniture of my Home</p>
      <p class="type">Carpenter</p>
      <p class="desciption">Want to make king side bed and materials will be of ours</p>
      <p class="ph_no"><i class="fa fa-phone-square" style="font-size:20px; margin-right:12px;"></i>8200170412</p>
      <p class="add"><i class="fa fa-home" style="font-size:20px; margin-right:12px;"></i>"Vrajdham", lal bahadur soc 3-A, Dhebar road(south),Rajkot</p>
      <label class="date_label" style="margin-right:5px;"><i class="fa fa-calendar" style="font-size:20px;color:red; margin-right:12px;"></i>Last Date to complete work:</label>
      <p class="date">5/22/2019</p>
    <hr>
  </div>
{% endblock %}
